<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>es_for</title>
</head>
<body>
    Cicla una sequenza usando <b>forloop.counter</b>
    <br/>
    {%for x in list2%}
        <i> {{forloop.counter}}</i> :{{x}} <br>
    {% endfor %}
    <br/>
    Cicla una sequenza usando <b>forloop.counter0</b>
    <br/>
    {%for x in list2%}
        <i> {{forloop.counter0}}</i> :{{x}} <br>
    {% endfor %}
    <br/>
<!---->
    Stampa il primo elemento della sequenza unsando <b> forloop.first </b>
    <br/>
    {%for x in list2%}
        {% if forloop.first %}
        <i> il primo elemento</i> - {{ x }}
        {% endif %}
    {% endfor %}
    <br/>
    Stampa l'ultimo elemento della sequenza unsando <b> forloop.last </b>
    <br/>
    {%for x in list2%}
        {% if forloop.last %}
        <i> l'ultimo elemento</i> - {{x}}
        {% endif %}
    {% endfor %}
    <br/>
<!---->
    Stampa il numero degli elementi non ancora ciclati <b> forloop.revcounter </b>
    <br/>
    {%for x in list2%}
        <i> numero elementi da dover ancora ciclare </i> - {{ forloop.revcounter }} <br/>
        <i> elemento </i> - {{x}} <br/>
    {% endfor %}
    <br/>
    Stampa il numero degli elementi non ancora ciclati <b> forloop.revcounter0 </b>
    <br/>
    {%for x in list2%}
        <i> numero elementi da dover ancora ciclare </i> - {{ forloop.revcounter0 }} <br/>
        <i> elemento </i> - {{x}} <br/>
    {% endfor %}
    <br/>
<!---->
    Stampa la sequenza al contrario usando  <b> reversed </b> attributo del tag <b> for </b>:
    <br/>
    {%for x in list2 reversed%}
        <i> elemento </i> - {{x}} <br/>
    {% endfor %}
</body>
</html>