<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <ol>
        <h3>Link prima app:</h3>
        <li><a href="{% url 'prima_app:homepage'%}">Home page benvenuto</a></li>
        <li><a href="{% url 'prima_app:welcome'%}">Welcome</a></li>
        <li><a href="{% url 'prima_app:lista'%}">Lista</a></li>
        <li><a href="{% url 'prima_app:chi_siamo'%}">Chi siamo</a></li>
        <li><a href="{% url 'prima_app:variabili'%}">Variabili</a></li>
        <h3>Link seconda app:</h3>
        <li><a href="{% url 'seconda_app:es_for'%}">Es_for</a></li>
        <li><a href="{% url 'seconda_app:es_if'%}">Es_if</a></li>
        <li><a href="{% url 'seconda_app:if_else_elif'%}">If_else_elif</a></li>
    </ol>
</body>
</html>